/* FAQ Section Styling */
.faq-section {
    background: #1b1b1b;
    min-height: 100vh;
    padding: 10vh 0 0;
}

.faq-title h1 {
    color: #ffffff;
}

.faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}

.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #8d8d8d;
    bottom: -25px;
    margin-left: -30px;
}

.faq {
    background: #000000;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #ffffff;
}

.faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgb(63, 63, 63);
    padding-left: 10px;
}

.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 20px 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    border-radius: 100px;
    text-align: center;
    background: #3b3b3b;
    color: #ffffff;
    font-size: 12px;
    margin-right: 20px;
}

.faq .card .card-body {
    padding: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #f8f8f8;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #F3F8FF;
}
